<form action="<%= session_url %>" method="post">

  <label name="user_email">User Email: </label>
  <input type="text" name="user[email]" id="user_email">

  <label name="user_password">User Password: </label>
  <input type="password" name="password" id="user_password">

  <input type="submit" value="Submit">
</form>